* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.darkBack {
  background-color: rgb(121, 118, 117);
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px 50px;
  position: relative;
}

.dark {
  background-color: #050000 !important;
}

.navbar {
  background-color: #405780;
  height: 10vh;
  z-index: 1 !important;
  width: 100%;
  color: white;
}

.theme {
  padding-top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: transparent;
  overflow: hidden;
}
.theme button {
  border: none;
  background-color: transparent;
  margin: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.theme button .on {
  color: #b49c10;
  background-color: #f8fbfc !important;
  height: 30px;
  border-radius: 100%;

  /* margin-bottom: 10px; */
  font-size: 30px;
  /* cursor: pointer; */
}
.theme button .off {
  color: #e9e9d9 !important;
  /* margin: 0 10px; */
  /* margin-bottom: 10px; */
  font-size: 30px;
  /* cursor: pointer; */
}

.navbar-wrapper {
  /* width: 60%; */
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.navbar-wrapper h1 {
  font-size: 20px;
  margin-bottom: 30px;
}

/* Expense Details */
.expenseDark {
  background-color: rgb(105, 102, 102) !important;
  color: white !important;
}
.expensedetails {
  height: 250px;
  background-color: #f7f7f7;
}

.expense-content h1 {
  margin-bottom: 30px;
  font-weight: 500;
}

.expenseBtn {
  background-color: black !important;
}
.expense-content .add-expense-btn {
  padding: 15px 20px;
  border: none;
  outline: none;
  background-color: #1c88bf;
  font-size: 18px;
  color: white;
}

/* Filter form */
.filterDark {
  background-color: rgb(19, 18, 18) !important;
  color: white;
}
.filter-content {
  display: flex;
  justify-content: space-between;
}

.filter-content input {
  border: 1px solid #ccc;
  width: 250px;
  padding: 15px 18px;
  font-size: 18px;
  border-radius: 5px;
}

.filter-content input::placeholder {
  font-size: 18px;
}

.filter-content select {
  width: 150px;
  border: 1px solid cyan;
  padding: 0 10px;
  font-size: 18px;
}

/* .expense-wrapper-heading */
.expense-wrapper-heading {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: black;
  font-weight: 500;
}

/* .expense-item list*/
.expense-itemList-dark {
  background-color: rgb(61, 59, 59);
}
.ExpenseItemList {
  list-style: none;
  padding: 30px;
  margin-top: -30px;
}
/* expense item */
.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  color: #313131;
  margin: 18px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}
.expense-item p {
  margin: 10px;
  font-size: 18px;
}
.expense-item-dark {
  color: rgb(252, 250, 250);
}
.expense-item h5 {
  margin-bottom: 10px;
}

.expense-item h6 {
  font: 8px;
}

/* settings */

.rightnav {
  display: flex;
  align-items: center;
}

.settings {
  color: rgb(105, 26, 26);
  cursor: pointer;
}

.Settingsform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Settingsform button {
  border: none;
  background-color: rgb(204, 179, 179);
  padding: 30px;
  font-style: italic;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
}

.Settingsform h2 {
  margin-bottom: 10px;
  color: rgb(20, 19, 19);
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile label {
  margin: 10px;
}

.profile input {
  border: solid;
}
